/*navigation */
.navbar {
    background-color: #8B0000; 
    overflow: hidden;
  }

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  } 
  
body {
    background-color: #FF6347; 
    color: white;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    color: white;
  }
  
  form {
    background-color: #8B0000; 
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #FF6347; 
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #FF6347; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #B22222; 
  }
  
  /*footer */
footer {
  background-color: #c0392b; 
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* contact icons */
.contact-icons {
  margin-top: 10px;
}

.contact-icons a {
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
}

.contact-icons a:last-child {
  margin-right: 0;
}